.fav-btn {
    width: 32px; height: 32px;
    display: flex; align-items: center; justify-content: center;
    border: 2px solid #0d6efd;   /* ista plava kao btn-primary */
    border-radius: 50%;
    background: transparent;
    color: #0d6efd;
    cursor: pointer;
    transition: 0.2s;
    text-decoration: none;  /* <<< uklanja underline */
}
.fav-btn:hover {
    background: #0d6efd;
    color: #fff;
    text-decoration: none;  /* <<< za svaki sluÄaj i ovde */
}
.fav-btn i { font-size: 14px; }

.city-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 14px 20px; /* razmak red/kolona */
}
.alert-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1050;
    width: auto;
    max-width: 400px;
    text-align: center;
}
.alert {
    font-size: 18px;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    text-align: center;
}

