.fav-btn {
    width: 32px; height: 32px;
    display: flex; align-items: center; justify-content: center;
    border: 2px solid #0d6efd;   /* ista plava kao btn-primary */
    border-radius: 50%;
    background: transparent;
    color: #0d6efd;
    cursor: pointer;
    transition: 0.2s;
    text-decoration: none;  /* <<< uklanja underline */
}
.fav-btn:hover {
    background: #0d6efd;
    color: #fff;
    text-decoration: none;  /* <<< za svaki sluÄaj i ovde */
}
.fav-btn i { font-size: 14px; }

.fav-btn.is-fav,
.fav-btn.is-fav:hover {
    background: #0d6efd;
    color: #fff;
    border-color: #0d6efd;
}


.city-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 14px 20px; /* razmak red/kolona */
}
.alert-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1050;
    border-radius: 0; /* da izgleda kao traka */
    text-align: center;
}
.alert {
    font-size: 18px;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    text-align: center;
}
/* Solid heart (default) */
.heart-icon {
    font-family: 'Font Awesome 6 Free'; /* Font Awesome 6 */
    font-weight: 900; /* Solid */
    transition: all 0.3s ease; /* smooth transition */
}

/* Kada je hover, menjamo ikonu u regular */
.btn-outline-danger:hover .heart-icon {
    font-weight: 400; /* Regular */
    content: '\f004'; /* Regular heart */
}



